@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-75  { animation-delay: 75ms; }
  .animation-delay-150 { animation-delay: 150ms; }
  .animation-delay-225 { animation-delay: 225ms; }
  .animation-delay-300 { animation-delay: 300ms; }
  .animation-delay-375 { animation-delay: 375ms; }
  .animation-delay-450 { animation-delay: 450ms; }
  .animation-delay-525 { animation-delay: 525ms; }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
